<div id="dcMain">
	<div id="urHere">
		后台管理中心<b>></b><strong>产品分类管理</strong>
	</div>
	<div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
    	<h3>
    		<a href="{:url('product/cagetory')}" class="actionBtn">分类列表</a>
    		<a href="{:url('product/index')}" class="actionBtn add">增加1级分类</a>
    		编辑分类
    	</h3>
    	<table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
			<tr>
				<td width=120>分类名称</td>
				<td><input type="text" name="catname" size=60 class="inpMain" value="{$info.catname}"></td>
			</tr>
			
    	</table>
    	<div class="pages">
			
    	</div>
    </div>
</div>