{layout name="layout"}
<div id="dcMain"> <!-- 当前位置 -->
<div id="urHere">后台管理中心</div>  
<div id="index" class="mainBox">
    
   <div id="douApi"></div>
   <div class="indexBox">
      <h3>产品管理系统使用指南</h3>
      <div class="boxTitle">产品分类管理</div>
          <p>用于管理产品分类，包括新增编辑删除。</p>
          <p>排序字段用于控制前台分类的显示顺序，数字越小越靠前。默认值100。</p>
   </div>
   <div class="indexBox">
        <div class="boxTitle">产品属性管理</div>
        <p>产品属性是指“操作方式”，“安装方式”，“外形尺寸”等。</p>
        <p>可以在该模块修改属性的名称，例如将“外形尺寸”修改为“外观尺寸”。</p>
        <p>属性字段是存储到数据中的，如操作方式对应字段是‘czfs’，对应数据表中会有czfs这个字段。</p>
        <p>为了系统安全，不允许程序添加属性，必须管理员从数据库添加。</p>
   </div>
   <div class="indexBox">
        <div class="boxTitle">对应关系管理</div>
        <p>用于管理分类和属性的对应关系。包括2个功能。</p>
        <p>一、管理该分类下显示的属性。例如轻触开关显示“操作方式”，“安装方式”，“外形尺寸”，“防水级别”等字段。</p>
        <p>二、管理某个属性的具体选项。例如轻触开关的“操作方式”包含“侧面操作”，“立式垂直”，2个选项，可以进行增加。</p>
   </div>
   <div class="indexBox">
        <div class="boxTitle">产品管理</div>
        <p>用于增加产品，编辑产品信息。</p>
        <p>一、常规添加。增加产品时，必须先填写产品名称，再选择产品分类，选择分类后会自动显示该分类下的属性列表。选择相应的属性即可。</p>
        <p>二、缺少选项。例如增加一个产品，分类为轻触开关，防水级别要填写‘不防水’，但是下拉选项没有这个选项。则需要先在对应关系管理模块增加“不防水”这个选项。</p>
        <p>三、缺少属性。例如增加一个产品，分类为轻触开关，要增加“产品线路”属性，则需要再对应关系管理模块先增加“产品路线”，并为“产品线路”增加选项，再添加产品。</p>
   </div>
   <div class="indexBox">
    <div class="boxTitle">系统开发</div>
    <ul>
     <table width="100%" border="0" cellspacing="0" cellpadding="7" class="tableBasic">
      <tr>
       <td width="120"> 伙伴网官网： </td>
       <td><a href="http://www.foodmate.net" target="_blank">http://www.foodmate.net</a></td>
      </tr>
      <tr>
       <td> 食品论坛： </td>
       <td><a href="http://bbs.foodmate.net" target="_blank">http://bbs.foodmate.net </a></td>
      </tr>
      <tr>
       <td> 贡献者： </td>
       <td>Hcd,Yqy</td>
      </tr>
      <tr>
       <td> 系统使用协议： </td>
       <td><a href="http://www.foodmate.net/license.html" target="_blank">http://www.foodmate.net/license.html</a></td>
      </tr>
     </table>
    </ul>
   </div>
    
  </div>
 </div>
