{layout name='layout'}
<script>
	$(function(){
		$(".hcd_produt").hover(function(){
			$(".erji").hide();
			$(this).find('.erji').show();
		},function(){
			$(".erji").hide();
		})
	})
</script>

<LINK href="__ASSETS__/skin/css/hcd.css" rel=stylesheet>
<div id="main">
	<div class="lanmuxqcp"><h2>产品中心</h2><span>ABOUT XKB</span></div>
	<table class="hcd_tb">
		<tr>
		{volist name='yiji' id="vo"}
			<td>
				<div class="hcd_produt">
					<img width="180px" src="__ASSETS__skin/images/product{$vo.catid}.gif" alt="">
					<p class="pname">{$vo.catname}系列</p>
					<div class="erji">
						<div class="erjiimg"><img src="__ASSETS__skin/images/sanjiao.png" alt=""></div>
						<ul class='erjiul'>
						<?php foreach($erji[$vo['catid']] as $k=>$v){ ?>
							<li><a href="{:url('product/index',array('catid'=>$v['catid']))}">{$v['catname']}</a></li>
						<?php } ?>
						</ul>
					</div>
				</div>
			</td>
		{/volist}
			<td>
				<div class="hcd_produt">
					<img width="180px" src="__ASSETS__skin/images/jp11.gif" alt="">
					<p class="pname">机械键盘系列</p>
					<div class="erji">
						<div class="erjiimg"><img src="__ASSETS__skin/images/sanjiao.png" alt=""></div>
						<ul class='erjiul'>
							<li><a href="http://s.gedaocao.com/category.php?id=369">奢华金机械键盘</a></li>
							<li><a href="http://s.gedaocao.com/category.php?id=370">珠光银机械键盘</a></li>
						</ul>
					</div>
				</div>
			</td>
		</tr>
	</table>
</div>