
<div id="dcMain"> <!-- 当前位置 -->
  <div id="urHere">
    后台管理中心<b>></b><strong>关联关系管理</strong>
  </div>
  <div id="manager" class="mainBox" style="height:auto!important;height:550px;min-height:550px;">
      <h3>
        <a href="{:url('attr/index')}" class="actionBtn ">关联关系列表</a>
        为分类增加属性
      </h3>
      <table width="100%" border="0" cellpadding="8" cellspacing="0" class="tableBasic">
          <tr>
            <td width=100>产品分类</td>
            <td></td>
          </tr>
          <tr>
            <td>产品属性</td>
            <td></td>
          </tr>
      </table>
  </div>
</div>